<h2>Haveアイテムランキング</h2>
<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>アイテム名称</th>
            <th>Haveユーザー数</th>
        </tr>
    </thead>
    <tbody>
        <% i = 1 %>
        <% @have_ranking_hash.each do |item_id, sum_users| %>
        <tr>
            <td><%= i %></td>
            <td><%= Item.find(item_id).title %></td>
            <td><%= sum_users %></td>
        </tr>
            <% i += 1 %>
        <% end %>
    </tbody>
</table>